---
title: Resources
vue: true
js:
  - resources.vue.js
permalink: /resources/
---

<section class="hero is-warning is-bold">
  <div class="hero-body">
    <div class="container">
      <p class="title is-1">Resources</p>
      <p class="sub-title lead">Check out these books, websites, promo codes, and tools recommended by other freelancers.</p>
      <p>This is a publicly maintained list, see something wrong? <a href="mailto:{{ site.email }}">email us</a></p>
    </div>
  </div>
</section>

<main id="main">

  <section class="section">
    <div class="container">
      <h2 class="title is-2">📖 Books</h2>
      <div class="columns is-multiline" v-if="books">
        <div class="column is-one-quarter"
          v-for="book in books">
          <div class="book">
            <a :href="book.link" class="book-cover">
              <img :src="book.cover" :alt="book.title" v-if="book.cover">
            </a>
            <div class="book-desc">
              <p><strong>(( book.title ))</strong></p>
              <p>(( book.description ))</p>
            </div>
            <div class="book-footer" v-if="book.link">
              <a :href="book.link" class="button is-light is-fullwidth">Buy on Amazon</a>
            </div>
          </div>
        </div>
      </div>
      <p v-else>Loadings...</p>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column">
          <p class="is-size-3">
            <strong>Got more resources?</strong>
            Resources on this page come from a public Google Spreadsheet, feel free to add or edit!
          </p>
        </div>
        <div class="column is-narrow">
          <a :href="workbookEditURL" class="button is-primary is-large" target="_blank">View Spreadsheet</a>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <h2 class="title is-2">💸 Promo Codes</h2>
      <div class="promos columns" v-if="promos">
        <div class="promo column" v-for="promo in promos">
          <div class="card">
            <div class="card-content">
              <h4 class="title">
                <a :href="promo.link" target="_blank">(( promo.name ))</a>
              </h4>
              <div class="promocode field">
                <div class="control">
                  <input type="text" class="input is-large text-center" readonly onclick="select()" :value="promo.code">
                </div>
              </div>
              <p>
                (( promo.description ))
              </p>
            </div>
          </div>
        </div>
      </div>
      <p v-else>Loadings...</p>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <h2 class="title is-2">💻 Websites</h2>
      <ul class="websites" v-if="websites">
        <li class="site"
            v-for="website in websites"
            v-bind:style="{ listStyleImage: 'url(' + website.icon + ')' }">
          <p>
            <a :href="website.referralLink ? website.referralLink : website.link" target="_blank">(( prettyLink( website.link ) ))</a>
            <br>
            (( website.description ))
          </p>
        </li>
      </ul>
      <p v-else>Loadings...</p>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <h2 class="title is-2">🛠 Tools</h2>
      <p class="filter">
        <label for="filter">Filter Tools</label>
        <input type="text" class="input" name="filter" value="" v-model="search">
      </p>
      <ul class="tools" v-if="tools">
        <li class="tool"
            v-for="tool in tools"
            v-bind:style="{ listStyleImage: 'url(' + tool.icon + ')' }"
            v-if="tool.link"
            v-show="tool.filtered()">
          <p>
            <a :href="tool.referralLink ? tool.referralLink : tool.link" target="_blank"><strong>(( tool.name ))</strong></a>
            –
            (( tool.description ))
          </p>
          <div class="tags" v-if="tool.tags">
            <span class="tag" v-for="tag in tool.tags">(( tag ))</span>
          </div>
        </li>
      </ul>
      <p v-else>Loadings...</p>
    </div>
  </section>
</main>
