---
title: Become a Founding Member
permalink: /join/
plans:
 -
  title: Startup Founder
  sku: sku_FtEIv7eOHlXNuH
  class: is-warning
  monthly:
    cost: 9
    hours: 4
  gifts:
   - Quilt patch
   - Badge on Directory Listing
   - Cool pin
 -
  title: Established Founder
  sku: sku_FvQogRMcSMduMx
  class: is-active
  monthly:
    cost: 29
    hours: 2
  gifts:
   - Quilt patch
   - Badge on Directory Listing
   - Cool pin
   - Cool Shirt
   - Custom name tag
 -
  title: Thriving Founder
  sku: sku_FvQobWfG4wFd5h
  class: is-danger
  monthly:
    cost: 49
    hours: 1
  gifts:
   - Quilt patch
   - Badge on Directory Listing
   - Cool pin
   - Cool Shirt
   - Custom name tag
   - Profiled on newsletter
---

<section class="hero is-danger is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container has-text-centered">
      <img src="{{ '/assets/img/bt-master-cream.png' | relative_url }}" alt="{{ site.name }}">
      <br>
      <br>
      <br>
      <h1 class="title is-1 is-uppercase">Become a Founding Member</h1>
      <span class="icon">
        <i class="fas fa-angle-double-down fa-3x"></i>
      </span>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <p class="lead">Over the past year Better Together has hosted <mark>16 empowering, educational, and connective events</mark> hosted by the experts of your community. Over 400 people have attended our events. Our email list and meetup.com membership is nearly 300. We’ve hosted <mark>Freelance Business Week, a 5 day long event with over 79 sessions, 70+ speakers across 16 different venues</mark>. All on a shoestring budget with volunteers sharing their time and talent.</p>
      </div>
      <div class="column">
        <p class="lead">In one year...</p>
        <p class="title is-2">16 Events</p>
        <p class="title is-2">400+ Attentees</p>
        <p class="title is-2">80+ Directory Listings</p>
      </div>
    </div>
  </div>
</section>

<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1 has-text-centered">Imagine what we could build from this foundation.</h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <p class="lead">That’s why we are inviting you to become a founding member of the Better Together Association of Independent Workers.</p>
    <br>
    <h2 class="title is-2">Founding Member Benifits:</h2>
    <div class="content">
      <ul class="is-size-4">
        <li class="benefit"><mark>1 year of membership</mark> through Dec 31, 2020.</li>
        <li class="benefit">Programming for monthly social and educational events to connect you with your community and level up your business, both <mark>virtually and in-person</mark>.</li>
        <li class="benefit">Access to members only events.</li>
        <li class="benefit">Discounts on services from partners</li>
        <li class="benefit">Listing on our Directory.</li>
        <li class="benefit"><mark>Exclusive promotion</mark> of your Directory listing to employers.</li>
        <li class="benefit">Member’s Slack team.</li>
        <li class="benefit">Opportunity to present at a Better Together monthly event.</li>
        <li class="benefit"><strong>Much more to come...</strong></li>
      </ul>
    </div>
  </div>
</section>

<section class="hero is-dark">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-2 has-text-centered">Ready to build a powerful association of Independent Workers in Colorado?</h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <h1 class="title">Make an Investment</h1>
    <p class="lead">We ask for a financial contribution and hours of your expert time. No matter where you are at in your career we want you to contribute and be part of Better Together! Choose which founding member you want to be, each level comes with a different set of gifts.</p>
    <br>
    {{ page.plans.startup.title }}
    <div class="pricing-table">
    {% for plan in page.plans %}
      <div class="pricing-plan {{ plan.class }}">
        <div class="plan-header">{{ plan.title }}</div>
        <div class="plan-price">
          <span class="plan-price-amount"><span class="plan-price-currency">$</span>{{ plan.monthly.cost | times: 10 }}</span>
          <span class="icon is-large"><i class="fas fa-plus fa-2x"></i></span>
          <span class="plan-price-amount">{{ plan.monthly.hours | times: 10 }}<span class="plan-price-currency">hours</span></span>
          <br>
          for year
        </div>
        <h1 class="plan-header is-size-5">Gifts</h1>
        <div class="plan-items">
          {% for gift in plan.gifts %}
          <div class="plan-item">{{ gift }}</div>
          {% endfor %}
        </div>
        <div class="plan-footer">
          <button id="checkout-button-{{ plan.sku }}" data-sku="{{ plan.sku }}" class="checkout-button button is-fullwidth is-medium">Choose</button>
        </div>
      </div>
      {% endfor %}
    </div>
    <div id="error-message"></div>
  </div>
</section>

<script src="https://js.stripe.com/v3"></script>
<script>
(function() {
  var stripe = Stripe('pk_live_25JxiUvh4VVbU8hDxNn7VADE00WvdZPCI0');

  var checkoutButtons = document.getElementsByClassName('checkout-button');

  for (var i = 0; i < checkoutButtons.length; i++) {
    var checkoutButton = checkoutButtons[i];

    checkoutButton.addEventListener('click', function () {
      console.log(this.dataset.sku);
      // When the customer clicks on the button, redirect
      // them to Checkout.
      stripe.redirectToCheckout({
        items: [{sku: this.dataset.sku, quantity: 1}],

        // Do not rely on the redirect to the successUrl for fulfilling
        // purchases, customers may not always reach the success_url after
        // a successful payment.
        // Instead use one of the strategies described in
        // https://stripe.com/docs/payments/checkout/fulfillment
        successUrl: 'https://bettertogetherassociation.org/join/success',
        cancelUrl: 'https://bettertogetherassociation.org/join/canceled',
      })
      .then(function (result) {
        if (result.error) {
          // If `redirectToCheckout` fails due to a browser or network
          // error, display the localized error message to your customer.
          var displayError = document.getElementById('error-message');
          displayError.textContent = result.error.message;
        }
      });
    });
  }
})();
</script>
