<section class="hero is-medium is-primary is-bold">
  <div class="hero-head">
    <div class="container">
      <br><br>
      <p class="lead"><span class="icon"><i class="fas fa-bullhorn"></i></span> Announcing:</p>
    </div>
  </div>
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1">Freelance Business Week</h1>
      <h2 class="subtitle is-2">Sep 30 - Oct 4, 2019</h2>
      <p class="lead">Over 50 speakers and 60+ Sessions over 5 days in co-working spaces across Denver</p>
      <a href="http://fbwden.com" class="button is-primary is-large">Learn More</a>
      <a href="http://fbwden19.eventbrite.com" class="button is-dark is-large">Buy Ticket</a>
    </div>
  </div>
</section>
