---
title: Directory
vue: true
js:
  - directory.vue.js
permalink: /directory/
---
    <section class="hero is-info is-bold">
      <div class="hero-body">
        <div class="container">
          <a class="button is-primary is-pulled-right is-medium" href="/directory/join/">
            <span class="icon is-small">
              <i class="fas fa-plus"></i>
            </span>
            &nbsp;
            List yourself
          </a>
          <h1 class="title is-1">
            Freelancers Directory
          </h1>
          <h2 class="subtitle is-3">Find the best people in Colorado to help you on your next project.</h2>
        </div>
      </div>
      <div class="hero-foot">

      </div>
    </section>

    <section class="section">
      <div id="main" class="container is-fluid" v-if="loaded">

        <p class="title">
          What are you looking for?
        </p>

        <div class="skills-lead field is-grouped is-grouped-multiline">
          <div class="control" v-for="skill in filteredSkills.top">
            <a class="tags has-addons" @click="toggleFilter('skills', skill )">
              <div class="tag" :class="{ 'is-primary': skill.slug in filter.skills }">(( skill.label ))</div>
              <div class="tag is-info" v-if="skill.count > 1">(( skill.count ))</div>
            </a>
          </div>
        </div>


        <p>
          <button class="button" @click="showTags = ! showTags">(( (showTags) ? "Hide" : "Show" )) More Tags</button>
          <button class="button" @click="filter.skills = {}" :disabled="Object.keys(filter.skills).length <= 0">Clear</button>
        </p>

        <br>

        <div class="notification is-dark">
          <p class="title is-4">Don't know where to start? <strong>Drew can help</strong> <a href="https://calendly.com/dddrew/talk" target="_blank">Schedule a free consultation.</a></p>
        </div>

        <div class="field is-grouped is-grouped-multiline is-large" v-if="showTags">
          <div class="control" v-for="skill in filteredSkills.others">
            <a class="tags has-addons" @click="toggleFilter('skills', skill )">
              <div class="tag" :class="{ 'is-primary': skill.slug in filter.skills }">(( skill.label ))</div>
              <div class="tag is-info" v-if="skill.count > 1">(( skill.count ))</div>
            </a>
          </div>
        </div>

        <div class="directory" v-if="people">
          <div class="card person" v-for="(person, index) in people" v-show="person.filtered()">
            <div class="card-content">
              <div class="content">
                <p class="title is-4">(( person.name ))</p>
                <p class="subtitle is-6 has-text-weight-bold">
                  (( person.trade ))
                </p>
                <div class="connect">
                  <template v-if="person.primarySite()">
                    <a :href="person.primarySite().url" target="_blank"><span class="icon"><i :class="person.primarySite().icon"></i></span> (( person.primarySite().label ))</a>
                  </template>
                </div>
                <p class="person__location" v-if="person.location"><label>Location</label> (( person.location ))</p>
                <p v-if="person.cosmic && person.cosmic.length < limit.cosmic"><label>Cosmic Task</label><br> (( person.cosmic ))</p>
                <template v-if="person.skills">
                  <p><label>Skills</label></p>
                  <div class="skills tags skill-preview">
                    <span class="tag skill"
                          :class="{ 'is-primary': skill.slug in filter.skills }"
                          :data-skill="skill.slug"
                          v-for="(skill, index) in person.skills"
                          @click="toggleFilter('skills', skill )">(( skill.label ))</span>
                    <a class="more tag" v-if="person.skills.length > 6"
                       onclick="this.parentElement.classList.toggle('skill-preview')">
                       <span class="more-more">Show (( person.skills.length - 5 )) more...</span>
                       <span class="more-less">Less...</span>
                     </a>
                  </div>
                </template>
              </div>
            </div>
            <website-links :links="person.links"></website-links>
          </div>
        </div>
      </div>
    </section>
