.directory {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1em;
}

.skills-lead {
  .tag {
    text-transform: capitalize;
  }
  @include tablet{
    .tag {
      font-size: 1.25rem;
    }
  }
}

.person {
  border: 1px solid #eee;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.person .title {
  text-transform:capitalize;
}

.person .subtitle:first-letter {
  text-transform:capitalize;
}

.person__location {
  position: absolute;
  top: 0; right: 0;
  color: #888;
  font-weight: bold;
  font-size: 0.7em;
  margin: 0.5em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.person__location label { display: none; }

.connect {
  padding-bottom: .75rem;
}

.person:hover {
  border-color: $primary;
}

.person label {
  font-weight: bold;
  font-size: 0.7em;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.person .links .label {
  display: none;
}

.skills {
  .more {
    background-color: transparent;
    color: $link;
    &:hover {
      color: $white;
      background-color: $dark;
      text-decoration: none;
    }
    .more-more { display: none; }
  }
}
.skill-preview {
  .skill:nth-of-type(1n+6) { display: none; }
  .more .more-more { display: inline; }
  .more .more-less { display: none; }
}

// join page

#join-directory {
  .form-intro {
    .card-example {
      padding: 50px;
      .card {
        max-width: 400px;
      }
    }
  }
  .form {
    height: 5000px;
    iframe {
      height: 100%;
    }
  }
  @include desktop{
    display: flex;
    .form-intro {
      max-width: 500px;
    }
  }
}
