---
---
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-96951579-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-96951579-3');
  </script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <title>{{ page.title }} | {{ site.title }}</title>
  <meta name="description" content="An association of independent workers">
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">

  <link href="{{ '/assets/css/main.css' | relative_url }}" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

  {% if page.vue %}
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  {% endif %}
</head>

<body>

  {% include nav.html %}

  {{ content }}

  {% if page.js %}
    {% for link in page.js %}
    <script type="text/javascript" src="{{ '/js/' | relative_url }}{{ link }}"></script>
    {% endfor %}
  {% endif %}
</body>

</html>
